.container {
  background: #2c3e50;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: teal;
}

.main-content {
  background-color: white;
}

.side-nav {
  background-color: grey;
}

.aside {
  background-color: blue;
}

.footer {
  background-color: brown;
}
