.container {
  background: #2c3e50;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header,
.footer {
  flex-basis: 100px;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 0 0 800px;
}

.main-content {
  background-color: white;
  flex: 4 0 60%;
}

.side-nav {
  background-color: grey;
  order: -1;
  flex: 1 1 20%;
}

.aside {
  background-color: blue;
  flex: 1 1 20%;
}

/* cleanup */
.main > *,
.header,
.footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}

@media all and (max-width: 640px) {
  .main {
    flex-direction: column;
    flex-grow: 1;
  }
  .side-nav {
    order: 0;
  }
}
